<!DOCTYPE html>
<html data-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'login/src/output.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-base-100">
    <div class="allwrappercenter">
        <div class="allwrapperwidth90">
            <div id="lcenterlogo">
                {% load static %}
                <img src="{% static '/login/htl_logo.png' %}" id="llogo" draggable="false">
            </div>
            <form method="post" action="{% url 'login_test' %}">
                {% csrf_token %}
                <input type="text" required placeholder="Username" name="username"/>
                <input type="password" class="lcredentialinput" required placeholder="Password" name="password"/>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
            <button class="btn btn-primary">tmp</button>
            {% if form.errors %}
                <p class="error-message">Username or Password doesn't match. Please try again.</p>
            {% endif %}
            asdasd
        </div>
    </div>
    <!-- npx tailwindcss -i ./src/input.css -o ./src/output.css --watch -->
</body>
</html>