<!DOCTYPE html>
<html data-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/login.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="allwrappercenter">
        <div class="allwrapperwidth90">
            <div id="lcenterlogo">
                <img src="./assets/htl_logo.png" id="llogo" draggable="false">
            </div>

            <form id="linputform">
                <div class="linputcredentials">
                    <input type="text" class="lcredentialinput" required placeholder="Username"/>
                    <input type="text" class="lcredentialinput" required placeholder="Password"/>
                </div>
                <div id="lcenterloginbutton"><input type="submit" id="lloginbutton" value="Login"></div>
            </form>
        </div>
    </div>
</body>
</html>