:root[data-theme="dark"] {
    --text: #eae9fc;
    --background: #1a1a1a;
    --primary: #bd6ff1;
    --secondary: #8a2cdd;
    --accent: #c966ff;
    --greylimiter: #454545;
}

:root[data-theme="light"] {
    --text: #040316;
    --background: #e6e6e6;
    --primary: #5c0e90;
    --secondary: #8022d3;
    --accent: #630099;
    --greylimiter: #a0a0a0;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("../assets/fonts/Roboto-Bold.ttf");
}

html {
    scroll-behavior: smooth;
    font-family: "Roboto Regular";
    font-size: 100%;
    margin: 0;
}

@media all and (min-width: 340px) {
    
    body{
        color: var(--text);
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        width: auto !important;
        scroll-behavior: smooth;
        overflow-x: hidden;
        position: relative;
        line-height: 1.75;
        margin: 0;
    }

    input {
        min-width: 0;
    }

    input:focus{
        border: none;
        text-decoration: none;
        outline: none;
    }

    main{
        width: 100%;
    }


    #allwrappercenter{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #allwrapperwidth90{
        width: 100%;
    }

    #hdepartment{
        font-size: 2.5rem;
        font-family: "Roboto Bold";
        align-self: center;
    }

    header{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 10vh;
    }

    header > div{
        display: flex;
        justify-content: space-between;
        width: 85%;
        align-self: center;
        /* max-height: 100%; */
        height: 95%;
    }

    #hheaderbar{
        height: 4px;
        margin: 0;
        padding: 0px;
        width: 100%;
        background-color: var(--secondary);
    }

    #hhamburger{
        /* width: 13%; */
        max-height: 75%;
        align-self: center;
        aspect-ratio: 1/1;
    }

    #hhamburger > svg{
        height: 100%;
        width: 100%;
    }

    /* .hburgerbar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: white;
    } */






        /* all home classes start with h */

    .hlimiter{
        height: 4px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #hsearchwrapper{
        width: 95%;
        margin: 5px 0;
        justify-self: center;
    }

    #hsearchflex{
        display: flex;
        justify-content: space-evenly;
    }

    #hsearchinput{
        background-color: var(--background);
        border: none;
        color: var(--text);
        font-size: 1.5rem;
        width: 100%;
    }

    #hsearchicon{
        height: 1.875rem;
        width: auto;
        aspect-ratio: 1/1;
    }

    #hsearchbarbar{
        background-color: var(--greylimiter);
    }

    #htagflex{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        white-space: nowrap;
        user-select: none;
    }

    #htagflex:hover{
        cursor: pointer;
    }

    #htagflex svg{
        margin: 0 12px;
        aspect-ratio: 1/1;
    }

    #htagname{
        font-family: "Roboto Regular";
        margin: 0 5px 0 0;
    }

    #htagline{
        background-color: var(--text);
        width: 100%;
        height: 4px;
    }

    #htagimgwrapper{
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
    }

    .htagimg{
        max-width: 30%;
        max-height: 30vh;
        aspect-ratio: 1/1;
        background-color: var(--greylimiter);
        margin: 0 5px;
        margin-bottom: 10px;
    }

    .htagflexhide{
        display: none !important;
    }

    #huploadbutton{
        background-color: var(--accent);
        width: 25%;
        max-width: 20%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: fixed;
        right: 5%;
        bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}

@media all and (min-width: 1024px) {
    
    #allwrapperwidth90{
        width: 90%;
    }

    #hhamburger{
        display: none;
    }

}