:root[data-theme="dark"] {
    --text: #eae9fc;
    --background: #1a1a1a;
    --primary: #bd6ff1;
    --secondary: #8a2cdd;
    --accent: #c966ff;
}

:root[data-theme="light"] {
    --text: #040316;
    --background: #e6e6e6;
    --primary: #5c0e90;
    --secondary: #8022d3;
    --accent: #630099;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
    margin: 0;
}

/* all login classes start with l */
@media all and (min-width: 340px){

    body{
        color: var(--text);
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        width: auto !important;
        scroll-behavior: smooth;
        overflow-x: hidden;
        position: relative;
        line-height: 1.75;
    }

    .allwrappercenter{
        display: flex;
        justify-content: center;
    }
    
    .allwrapperwidth90{
        width: 90%;
    }

    #linputform{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #lcenterlogo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 25%;
    }
    
    #llogo{
        width: 70%;
        height: auto;
        align-self: center;
    }

    .linputcredentials{
        margin-top: 30px;
        align-self: center;
    }

    .lcredentialinput{
        border: none;
        outline: none;
        background-color: var(--background);
        border-bottom: 2px solid var(--text);
        opacity: 0.5;
        color: var(--text);
        margin: 30px 0;
        font-size: 1.2rem;
        width: 100%;
        font-family: "Roboto Regular";
        resize: vertical;
        align-self: center;
    }

    .lcredentialinput:focus{
        opacity: 1;
        border-bottom: 2px solid var(--accent);
        box-shadow: 0px 10px 20px 0px var(--secondary);
    }

    #lcenterloginbutton{
        display: flex;
        justify-content: center;
    }

    #lloginbutton{
        display: inline-block;
        background-color: var(--primary);
        border-radius: 15px;
        border: none;
        color: var(--text);
        font-family: "Roboto Regular";
        font-size: 1.125rem;
        padding: 0.5em 2em;
        transition: transform ease 0.2s;
        margin-top: 20px;
    }

    #lloginbutton:hover{
        box-shadow: var(--secondary) 0 10px 30px;
        transform: translate(0px, -5px);
        transition: transform ease 0.2s;
    }
}

@media all and (min-width: 600px){
    #lcenterlogo{
        margin-top: 15%;
    }

    .linputcredentials{
        width: 70%;
    }

}
