<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>HTL Media</title>
</head>
<body>
    <header>
        <div>
            <div id="hdepartment">IT</div>
            <div id="hhamburger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div id="hheaderbar"></div>
    </header>
    <main>
        <form id="hsearchwrapper">
            <div id="hsearchflex">
                <i class="fa-solid fa-magnifying-glass" id="hsearchicon"></i>
                <input type="text" id="hsearchinput" required placeholder="Search"/>
                <i class="fa-solid fa-filter" id="hsearchicon"></i>
            </div>
        </form>
        <div id="hsearchbarbar" class="hlimiter"></div>

        <div id="tagwrapper">
            <div id="tagflex" onclick="toggleTagDisplay()">
                <i class="fa-solid fa-chevron-down" id="tagpermaid"></i><div id="tagname">tmp name</div><div id="tagline"></div>
            </div>
            <div id="tagimgwrapper">
                <img src="./assets/icons/burgermenu.svg" class="tagimg">
                <img src="./assets/icons/burgermenu.svg" class="tagimg">
                <img src="./assets/icons/burgermenu.svg" class="tagimg">
                <img src="./assets/icons/burgermenu.svg" class="tagimg">
                <img src="./assets/icons/burgermenu.svg" class="tagimg">
            </div>
        </div>
    </main>
</body>
<script src="./js/tagfunctions.js"></script>
<script src="./js/fontawesome.js"></script>
<script src="./js/solid.js"></script>
</html>