<!DOCTYPE html>
<html lang="en" data-theme="dark" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static './home/src/output.css' %}">
    <title>HTL Media</title>
</head>
<body class="text-base-content">
    
    <header class="bg-base-100 w-[100%]">
        <div class="flex justify-between w-[100%]">
            <div class="text-base-content font-roboto font-bold text-6xl m-4">IT</div>
            <div class="self-right text-base-content" id="hhamburger">
                <i class="fa-solid fa-bars text-6xl m-4"></i>
            </div>
        </div>
        <span class="bg-accent block w-[100%] h-[3px]"></span>
    </header>

    {% if post == none %}
    <main class="flex font-roboto justify-center">
        <main class="w-[100%] md:w-[90%] lg:w-[70%]">
            <form class="w-[100%] text-base-content flex justify-center" action="filter" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="input !shadow-none border-t-0 border-l-0 border-r-0 border-b-3 w-[100%] focus:border-primary focus:shadow-none md:w-[90%] lg:w-[70%]">
                    <i class="fa-solid fa-magnifying-glass align-middle text-2xl"></i>
                    {{   filterForm.titel  }}
                    {{ filterForm.order_by }}
                    <button type="submit">Submit</button>
                </label>
            </form>

            <div tabindex="0" class="w-[100%] collapse well">
                <input type="checkbox"/>
                <div class="collapse-title flex pr-[1rem] md:pr-0">
                    <i class="fa-solid fa-chevron-right text-base-200 text-2xl h-[100%] self-center"></i>
                    <label class="text-base-200 text-2xl text-nowrap m-[8px]">1AHIT</label>
                    <div class="bg-base-200 h-[3px] w-[100%] self-center"></div>
                </div>
                <div class="collapse-content text-base-200">
                {% for post in data %}
                    {% if post.main_Tag == "1" %}
                        <div>
                            <div>{{post.titel}}</div>
                            <a href="firstview/{{post.pk}}"><img src="{{post.image_file.url }}" class="postPic" key="{{post.pk}}" posted="{{post.uploaded_by}}"></a>
                            <div>
                                {{post.uploaded_by.username}}
                                {{post.uploaded_at}}
                                Aufrufe:{{post.views}} 
                                Likes:{{post.total_likes}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <div tabindex="0" class="w-[100%] collapse well">
                <input type="checkbox"/>
                <div class="collapse-title flex pr-[1rem] md:pr-0">
                    <i class="fa-solid fa-chevron-right text-base-200 text-2xl h-[100%] self-center"></i>
                    <label class="text-base-200 text-2xl text-nowrap m-[8px]">2AHIT</label>
                    <div class="bg-base-200 h-[3px] w-[100%] self-center"></div>
                </div>
                <div class="collapse-content text-base-200">
                {% for post in data %}
                    {% if post.main_Tag == "2" %}
                        <div>
                            <div>{{post.titel}}</div>
                            <a href="firstview/{{post.pk}}"><img src="{{post.image_file.url }}" class="postPic" key="{{post.pk}}" posted="{{post.uploaded_by}}"></a>
                            <div>
                                {{post.uploaded_by.username}}
                                {{post.uploaded_at}}
                                Aufrufe:{{post.views}} 
                                Likes:{{post.total_likes}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <div tabindex="0" class="w-[100%] collapse well">
                <input type="checkbox"/>
                <div class="collapse-title flex pr-[1rem] md:pr-0">
                    <i class="fa-solid fa-chevron-right text-base-200 text-2xl h-[100%] self-center"></i>
                    <label class="text-base-200 text-2xl text-nowrap m-[8px]">3AHIT</label>
                    <div class="bg-base-200 h-[3px] w-[100%] self-center"></div>
                </div>
                <div class="collapse-content text-base-200">
                {% for post in data %}
                    {% if post.main_Tag == "3" %}
                        <div>
                            <div>{{post.titel}}</div>
                            <a href="firstview/{{post.pk}}"><img src="{{post.image_file.url }}" class="postPic" key="{{post.pk}}" posted="{{post.uploaded_by}}"></a>
                            <div>
                                {{post.uploaded_by.username}}
                                {{post.uploaded_at}}
                                Aufrufe:{{post.views}} 
                                Likes:{{post.total_likes}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <div tabindex="0" class="w-[100%] collapse well">
                <input type="checkbox"/>
                <div class="collapse-title flex pr-[1rem] md:pr-0">
                    <i class="fa-solid fa-chevron-right text-base-200 text-2xl h-[100%] self-center"></i>
                    <label class="text-base-200 text-2xl text-nowrap m-[8px]">4AHIT</label>
                    <div class="bg-base-200 h-[3px] w-[100%] self-center"></div>
                </div>
                <div class="collapse-content text-base-200">
                {% for post in data %}
                    {% if post.main_Tag == "4" %}
                        <div>
                            <div>{{post.titel}}</div>
                            <a href="firstview/{{post.pk}}"><img src="{{post.image_file.url }}" class="postPic" key="{{post.pk}}" posted="{{post.uploaded_by}}"></a>
                            <div>
                                {{post.uploaded_by.username}}
                                {{post.uploaded_at}}
                                Aufrufe:{{post.views}} 
                                Likes:{{post.total_likes}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <div tabindex="0" class="w-[100%] collapse well">
                <input type="checkbox"/>
                <div class="collapse-title flex pr-[1rem] md:pr-0">
                    <i class="fa-solid fa-chevron-right text-base-200 text-2xl h-[100%] self-center"></i>
                    <label class="text-base-200 text-2xl text-nowrap m-[8px]">5AHIT</label>
                    <div class="bg-base-200 h-[3px] w-[100%] self-center"></div>
                </div>
                <div class="collapse-content text-base-200">
                {% for post in data %}
                    {% if post.main_Tag == "4" %}
                        <div>
                            <div>{{post.titel}}</div>
                            <a href="firstview/{{post.pk}}"><img src="{{post.image_file.url }}" class="postPic" key="{{post.pk}}" posted="{{post.uploaded_by}}"></a>
                            <div>
                                {{post.uploaded_by.username}}
                                {{post.uploaded_at}}
                                Aufrufe:{{post.views}} 
                                Likes:{{post.total_likes}}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </main>
    </main>

    <main class="w-[100%] flex justify-center">
        <main class="flex font-roboto justify-center w-auto relative flex-wrap lg:justify-self-center">
            <form class="w-[100%] flex justify-center" action="upload" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="w-[75%] aspect-square bg-secondary pointer-events-none mt-7 relative sm:w-[50%] md:w-[35%] lg:w-[25%]">
                    {{form.image_file}}
                    <div class="flex w-[100%] h-[100%] top-0 justify-center items-center flex-col absolute">
                        <i class="fa-solid fa-file-import text-6xl mb-[15px]"></i>
                        <span class="font-bold before:content-['Tap'] lg:before:content-['Click']"> to upload file</span>
                    </div>
                </div>
            
                {% csrf_token %}
                <div class="w-[75%] sm:w-[50%] md:w-[35%] lg:w-[25%]">
                    {{form.titel}}
                    {{form.Description}}
                    {{form.main_Tag}}
                    <div class="w-[100%] h-fit flex justify-end">
                    <button type="submit" class="btn btn-primary rounded-2xl text-lg px-8 mt-12 border-none shadow-none hover:shadow-lg hover:shadow-secondary"><i class="fa-solid fa-upload"></i> Upload</button></div>
                </div>
            </form>
        </main>
    </main>
    {% endif %}
    {% if post %}
        <div id="view-container">
            <a href="/home">Back</a>
            <div>{{post.titel}}</div>
            <img src="{{post.image_file.url }}" class="postPic" key="{{post.pk}}" posted="{{post.uploaded_by}}">
            <div>
                {{post.uploaded_by.username}}
                {{post.uploaded_at}}
                Aufrufe:{{post.views}} 
                Likes:{{post.total_likes}}
            </div>
            <div>
                {{post.Description}}
            </div>
            <a href="/home/like/{{post.pk}}">Like</a>
            {% if user == post.uploaded_by or user.roles == 0 %}
            <a href="/home/delete/{{post.pk}}">Delete</a>
            {% endif %}
        </div>
    {% endif %}

    <div id="user" user="{{ user }}" style="display: none;"></div>
</body>
{% load static %}
<script src="{% static 'home/js/home.js' %}"></script>
{% load static %}
<script src="{% static 'home/js/solid.js' %}"></script>
{% load static %}
<script src="{% static 'home/js/fontawesome.js' %}"></script>
{% load static %}
<script src="{% static 'home/js/tagfunctions.js' %}"></script>
</html>