<!DOCTYPE html>
<html lang="en" data-theme="dark" id="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/main.css' %}">
    <title>HTL Media</title>
</head>
<body>
    <section class="flex-container">
        <div style="width: 100%;">
            <header>
                <div>
                    <div id="hdepartment">IT</div>
                    <div id="hhamburger">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
                <div id="hheaderbar"></div>
            </header>

            <div id="body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ filterForm.as_p }}
                    <button type="submit">Upload</button>
                </form>
                {% for post in data %}
                <div>
                    <div>{{post.titel}}</div>
                    <img src="{{post.image_file.url }}" >
                    <div>
                        {{post.uploaded_by}}
                        {{post.uploaded_at}}
                        {{post.main_Tag}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="sidebar">
            <button id="backButton">X</button>
            <button id="uploadButton"></button>

            <label>DarkMode</label>
            <input type="checkbox" id="DarkLightModeToggle">
            <label>LightMode</label>

        </div>
    </section>

    <div id="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
{% load static %}
<script src="{% static 'home/js/home.js' %}"></script>
{% load static %}
<script src="{% static 'home/js/solid.js' %}"></script>
{% load static %}
<script src="{% static 'home/js/fontawesome.js' %}"></script>
</html>